version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/" # Root directory for npm workspaces
    schedule:
      interval: "weekly"
    groups:
      dependencies:
        patterns:
          - "*"
