# Backups
_*

# Cache files
.DS_Store
Thumbs.db

# Node.js
node_modules

# Output
out
dist
result*.txt
result*.json
test_output*
*output.txt

# VSIX
*.vsix

# Logs
logs/
*.log

# VSCode Test
.vscode-test

# Build Errors
build_errors.txt
