# Backups
_*

# Cache files
.DS_Store
Thumbs.db

# Node.js
node_modules

# Output
_out/
out
dist
result*.txt
result*.json
test_output*
*output.txt
*output_*.txt
failure-*
*failure*.txt

# Temporary output

# Playwright
**/test-results/
**/test-results-actions/
**/playwright-report/
**/.last-run.json

# Test temp files
**/tests/_temp/
**/tests/failure-*/
**/tests/*.meta.json

# Archive
*.zip
*.gzip
*.tar.gz

# VSIX
*.vsix

# Logs
logs/
*.log

# VSCode Test
.vscode-test

# Build Errors
build_errors.txt
